@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans+Condensed:wght@700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
a {
  text-decoration:none !important;
}
.logo {
  font-family: 'Lobster', cursive;
  padding-top:0px;
  padding-bottom:12px;
  font-size: 60px;
  color: #cc4514;  /* fallback for old browsers */
  color: -webkit-linear-gradient(to right, #b2442b, #cc8f14);  /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

#navbar-primary.navbar-default .navbar-nav {
  width: 100%;
  text-align: center;
background: #b06b21;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ed876d, #b06421);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eda76d, #b03621); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border-radius: 100px ;
}
#navbar-primary.navbar-default .navbar-nav > li {
  display: inline-block;
  float: none;
  vertical-align: top;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Grandstander', cursive

}
#navbar-primary.navbar-default .navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  color:#070402;
  font-size: 18px;
  text-decoration:none;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:not(.signedcustom):hover:after  {
    width: 100%;
    background:white;
    border-radius: 100px;
}
.navbar-nav .nav-item > a.active {
    width: 140px;
    background: white ;
    border-radius: 100px ;
    color:  #white !important;
    text-align: center;
    font-weight: bolder;
    display: block;
    text-decoration: none;
}


@import url('https://fonts.googleapis.com/css?family=Poppins');




body {
font-family: Arial;
background-color: #3498DB;
padding: 50px;
}
.login {
margin: 20px auto;
width: 300px;
}
.login-screen {
background-color: #FFF;
padding: 20px;
border-radius: 5px
}

.app-title {
text-align: center;
color: #777;
}

.login-form {
text-align: center;
}
.control-group {
margin-bottom: 10px;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.btn {
background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */




  color: white !important;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #2980B9;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
    margin-top: 12px;
}

#username {
font-family: 'Pacifico', cursive;
padding-top:0px;
padding-bottom:30px;
}

#username sub {
  font-size: 20px;
}


.item{
  padding-left:5px;
  padding-right:5px;

}
.card {

background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 color:white;

}

.card a {
	text-decoration: none ;
	color:white;
}
.card a:hover, a:active {
	text-decoration: none ;
	color:white;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
  font-size:25px;
  transition:1s;
  cursor:pointer;
}
.item-card-title i{  
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  transform: scale(1.25) rotate(100deg); 
  color:#18d4ca;
  
}
.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}
.card-text{
  height:80px;
  font-size: 18px;  
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1);
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

th{
background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.card{
  font-family: 'Grandstander', cursive;
font-family: 'Ubuntu', sans-serif;
}

.headline {
  font-family: 'Permanent Marker', cursive;
  padding-top:20px;
 color: #2193b0;  /* fallback for old browsers */
color:  -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
color:  linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.profile-text {
  color:white;
  font-family: 'Lobster', cursive;

}

.table {
    background-color: white;
    color: #18AD7C;
}
table.table-bordered > thead > tr > th {
  border:1px solid #1e3c72;
}
table.table-bordered > tbody > tr > td {
  border:1px solid #1e3c72;
}

.profile-submit {
background: #457fca;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #5691c8, #457fca);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #5691c8, #457fca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.form-labels {
  font-family: 'Titillium Web', sans-serif;
  color:#457fca;

}


.custom-toggler.navbar-toggler { 
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
} 