<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>MyCalorieBuddy | {{ request.user }}</title>
	<meta charset="utf-8">

	
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Styles -->	

    <script type="text/javascript"> 
      function display_c(){
      var refresh=1000; // Refresh rate in milli seconds
      mytime=setTimeout('display_ct()',refresh)
      }
      
      function display_ct() {
      var x = new Date()
      var x1=x.toUTCString();// changing the display to UTC string

      document.getElementById('t1').style.fontSize='16px';
      document.getElementById('t1').style.color='#0030c0';
      document.getElementById('t1').value = x1;

      display_c();
      }
    </script>
   
    
    <body onload=display_ct();>
    <input type=text id='t1' size="90">

  

</head>
<body>
  <h1 class="logo text-center">MyCalorieBuddy</h1>
  
<nav id="navbar-primary" class="navbar navbar-expand-lg navbar-default active" role="navigation">
  
    <!-- Brand and toggle get grouped for better mobile display -->
 


 <div class="container">
          <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
          <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#resNav"  id='navbar-toggler'>
            <span class="navbar-toggler-icon" id="ham"></span>
          </button>
        </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="resNav">
            <ul class="navbar-nav justify-content-center">
              {% with url_name=request.resolver_match.url_name %}
              <li class="nav-item"><a class="nav-link  {% if url_name == 'home' %} active{% endif %}" href={% url "home" %}>Home</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'workout' %} active{% endif %}" href={% url "workout" %}>Workout</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'add_food' %} active{% endif %}" href={% url "add_food" %}>Food Add</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'select_food' %} active{% endif %}" href={% url "select_food" %}>Calorie Input</a></li>
              <li class="nav-item"><a class="nav-link {% if url_name == 'profile' %} active{% endif %}" href={% url "profile" %}>{{ request.user }}'s Profile</a></li>
              <li class="nav-item" id="username"><a class="nav-link {% if url_name == 'logout' %} active{% endif %}" href={% url "logout" %}>Logout</a></li>

              {% endwith %}
            </ul>
            </div>
            <!-- /.navbar-collapse -->
      
 </div>
</nav>

<!-- header role="banner" -->
        {% block content %}
        {% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>