{% extends 'base.html' %}

{% block content %}

<center><p style="font-size:32px">Confirm on deleting <b>{{ food }}</b>  ?</p></center>
<form method="POST" action="{% url 'delete_food' food.id %}" class="text-center">
	{% csrf_token %}
	<a href="{% url 'profile' %}">Cancel</a>
	<input type="submit" name="Confirm">
</form>

{% endblock content %}