{% extends 'base.html' %}

{% block content %}

<br>
<center><h1> Welcome back, {{ request.user }}</h1></center>
<br>

<div class="container mt-2">
  <div class="row">
    <div class="col-lg-6 col-sm-12 item ">
      
        <h5 class="card-title mt-3 mb-3 text-center">Total Calories Consumed Today</h5>
        <p class="card-text text-center">{{ total_calorie }}</p> 

    </div>
    <div class="col-lg-6 col-sm-12 item">
    
        <h5 class="card-title  mt-3 mb-3 text-center">Calorie Goal For Today</h5>
        <p class="card-text text-center">{{ calorie_goal }}</p> 
 
    </div>
  </div>
  
</div>
  
      

        <div class="card-body">
          
          <p class="card-text text-center pt-3" style="font-size:22px"> 
          {% if calorie_goal_status > 0 %}
       {{ calorie_goal_status }} calories more to <b>GOAL</b>
      {% elif calorie_goal == 0 %}
      <a href="{% url "profile" %}"> Enter your calorie goal for the day </a>
      {% else %}
      You surpassed your goal by {{ over_calorie }} calories 
      {% endif %} </p>

        </div>

    
      

<br>
<center><h1>All Food Consumed Today </h1></center>
<div class="container table-responsive py-5"> 
<table class="table table-bordered table-hover">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Food</th>
      <th scope="col">Calorie</th>
      <th scope="col">Count</th>
    </tr>
  </thead>
  <tbody>
 
  
    {% for food in food_selected_today %}
    <tr class="text-center">
      <td> {{ food.food.name }}</td>
      <td> {{ food.calorie_amount }}</td>
      <td> {{ food.amount }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}