<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>MyCalorieBuddy | Login</title>
	<meta charset="utf-8">

	
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Styles -->	

    <script type="text/javascript"> 
      function display_c(){
      var refresh=1000; // Refresh rate in milli seconds
      mytime=setTimeout('display_ct()',refresh)
      }
      
      function display_ct() {
      var x = new Date()
      var x1=x.toUTCString();// changing the display to UTC string

      document.getElementById('t1').style.fontSize='16px';
      document.getElementById('t1').style.color='#0030c0';
      document.getElementById('t1').value = x1;

      display_c();
      }
    </script>
   
    
    <body onload=display_ct();>
    <input type=text id='t1' size="90">
    <br>


  <marquee behavior="scroll" direction="left">  Welcome to MyCalorieBuddy! &nbsp;&nbsp;  “Strength does not come from physical capacity. It comes from an indomitable will.” -Mahatma Gandhi &nbsp;&nbsp; “If you want something you’ve never had, you must be willing to do something you’ve never done.” -Thomas Jefferson</marquee>
  

</head>
<body>
  <h1 class="logo text-center">MyCalorieBuddy</h1>
  


<!-- header role="banner" -->
        {% block content %}

        <div class="login">
          <div class="login-screen">
              <div class="app-title">
                  <h1>Login</h1>
                  <br>
              </div>
  
              <form method="POST" action="" class="login-form">
                {% csrf_token %}
                  <div class="control-group">
                  <input type="text" name="username" placeholder="Username" class="form-control">
                  
                  </div>
  
                  <div class="control-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" >
                  </div>   
                 
                  <input class="btn login_btn" type="submit" value="Login">
  
              </form>
              {% for message in messages %}
                      <p id="messages">{{message}}</p>
              {% endfor %}            
          
              <div class="pt-8">
                  <div class="d-flex justify-content-center links pt-5">
                      Not a member? <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
                  </div>
              
              </div>
          </div>
      </div>
  

        {% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>