<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>MyCalorieBuddy | Register</title>
	<meta charset="utf-8">

	
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  

</head>
<body>
  <h1 class="logo text-center">MyCalorieBuddy</h1>
  


<!-- header role="banner" -->
        {% block content %}
        
        <div class="login">
          <div class="login-screen">
              <div class="app-title">
                  <h1>Sign Up</h1>
              </div>
  
              <form method="POST" action="" class="login-form">
                {% csrf_token %}
                  <div class="control-group">
                  {{ form.username }}    
                  </div>
                  <div class="control-group">
                  {{ form.email}}
                  </div>   
                   <div class="control-group">
                  {{ form.password1 }}
                  </div> 
                   <div class="control-group">
                  {{ form.password2 }}
                  </div> 
                  <input class="btn btn-primary btn-large btn-block" type="submit" name="Register">
              </form>

              {{ form.errors }}
              <div class="d-flex justify-content-center links mt-8">
              Already have an account? <a href="{% url 'login' %}" class="ml-4">Login</a>
            </div>
          </div>
      </div>
      <script>
    
      //Query All input fields
      var form_fields = document.getElementsByTagName('input')
      form_fields[1].placeholder='Username';
      form_fields[2].placeholder='Email';
      form_fields[3].placeholder='Enter Password';
      form_fields[4].placeholder='Re-enter Password';
  
  
      for (var field in form_fields){ 
        form_fields[field].className += ' form-control'
      }
    </script>
        
        {% endblock content %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</body>
</html>