{% extends 'base.html' %}

{% block content %}
    <div class="login mt-0">
        <div class="login-screen">
            <div class="app-title">
                <h1>Calorie Input</h1>
            </div>

            <form method="POST" action="" class="login-form">
              {% csrf_token %}
              <h5 class="form-labels">
                {{ form.as_p }}
            </h5>
                <input class="btn login_btn pt-2" type="submit" value="select">

            </form>
        </div>

    </div>
    <div class="container-fluid">
   <center><h1>All Food Items </h1></center>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Food Name</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for food in food_items %}
                <tr>
                    <td>{{ food.name }}</td>
                    <td>{{ food.calorie }}</td>
                    <td>{{ food.quantity }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>  
     </div>

{% endblock content %}