{% extends 'base.html' %}

{% block content %}

{% load static %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<div class="container">
    <h2>Workout Routines For <b>{{ request.user }}</b></h2>  
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <video width="100%"  controls>
                <source src="{% static 'img/video_three.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <div class="carousel-caption">
                <h3>Ropes Skipping
                </h3>
                <p>Trains entire body with a high fat loss efficiency </p>
              </div>
        </div>

        <div class="item">
            <video width="100%"  controls>
                <source src="{% static 'img/video_one.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
              </video>
              <div class="carousel-caption">
                <h3>Steps Aerobics
                </h3>
                <p>Trains your core legs muscles with a high fat loss efficiency </p>
              </div>
        </div>
    
        <div class="item">
            <video width="100%"  controls>
                <source src="{% static 'img/video_two.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
              </video>

              <div class="carousel-caption">
                <h3>Push-Up Exercise
                </h3>
                <p>Push up trains your arms muscles </p>
              </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>


{% endblock content %}